<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>configs</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>socialaccounts</string>
				<key>name</key>
				<string>title_accounts</string>
				<key>type</key>
				<string>more</string>
				<key>next</key>
				<string>BRSocialAccountsSettingController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>title_appearence</string>
		<key>configs</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>null</string>
				<key>name</key>
				<string>title_changebackground</string>
				<key>type</key>
				<string>text</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>backgroundImage</string>
				<key>type</key>
				<string>custom</string>
				<key>customViewClass</key>
				<string>BRChooseBackgroundImage</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>blurBackgroundImage</string>
				<key>name</key>
				<string>title_blurbackgroundimage</string>
				<key>type</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>animateflipview</string>
				<key>name</key>
				<string>title_flipthumbnail</string>
				<key>type</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>sortingbyreadingfrequency</string>
				<key>name</key>
				<string>title_sortfeedbyreadingfrequency</string>
				<key>type</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>showrecommendations</string>
				<key>name</key>
				<string>title_showrecommendation</string>
				<key>type</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>feedsinmostread</string>
				<key>name</key>
				<string>title_feedsinmostread</string>
				<key>type</key>
				<string>pick</string>
				<key>values</key>
				<array>
					<integer>10</integer>
					<integer>15</integer>
					<integer>20</integer>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>title_viewarticles</string>
		<key>configs</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>shouldShowUnreadOnly</string>
				<key>name</key>
				<string>title_showunreadonly</string>
				<key>type</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>rememberMyChoice</string>
				<key>name</key>
				<string>title_remembermychoice</string>
				<key>type</key>
				<string>switch</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>swipeLeftAction</string>
				<key>name</key>
				<string>title_swipeleftinlist</string>
				<key>type</key>
				<string>pick</string>
				<key>values</key>
				<array>
					<string>NOTIFICATION_SENDTOREADITLATER</string>
					<string>NOTIFICATION_SENDTOINSTAPAPER</string>
					<string>NOTIFICATION_MARKITEMASREAD</string>
					<string>NOTIFICATION_MARKITEMASUNREAD</string>
				</array>
			</dict>
			<dict>
				<key>identifier</key>
				<string>swipeRightAction</string>
				<key>name</key>
				<string>title_swiperightinlist</string>
				<key>type</key>
				<string>pick</string>
				<key>values</key>
				<array>
					<string>NOTIFICATION_SENDTOREADITLATER</string>
					<string>NOTIFICATION_SENDTOINSTAPAPER</string>
					<string>NOTIFICATION_MARKITEMASREAD</string>
					<string>NOTIFICATION_MARKITEMASUNREAD</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>title_viewariticle</string>
		<key>configs</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>autorotateimage</string>
				<key>name</key>
				<string>title_autorotateimage</string>
				<key>type</key>
				<string>switch</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>title_cache</string>
		<key>configs</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>manuallyclearcache</string>
				<key>type</key>
				<string>custom</string>
				<key>customViewClass</key>
				<string>BRManuallyClearCacheView</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>autoclearcache</string>
				<key>name</key>
				<string>title_autoclearcache</string>
				<key>type</key>
				<string>switch</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
